@import "tailwindcss";
* {
    font-family: "Manrope", serif;
}

:root {
    --black-1: #141414;
    --black-2: #1A1A1A;

    --gray-4: #BFBFBF;

    --white: #FFFFFF
}

.bg-black-1 {
    background: var(--black-1);
}

.bg-black-2 {
    background: var(--black-2);
}

.border-black-2 {
    border-color: var(--black-2);
}

.text-gray-4 {
    color: var(--gray-4);
}

.text-white {
    color: var(--white);
}

.navlink {
    @apply px-3 py-2 whitespace-nowrap rounded-md border-1 border-transparent;
    color: var(--gray-4);
    transition: .15s ease-in-out;
}

.navlink:hover {
    border-color: var(--black-2);
    color: var(--white);
}

.navlink_active {
    background: var(--black-2);
    color: var(--white);
}

button {
    @apply cursor-pointer;
}

.shadow-y1 {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);

}