@import "tailwindcss";
* {
    font-family: "Manrope", serif;
}

:root {
    --black-0: #0F0F0F;
    --black-1: #141414;
    --black-2: #1A1A1A;
    --black-3: #262626;

    --gray-4: #BFBFBF;
    --gray-5: #999999;

    --accent: #E50000;

    --white: #FFFFFF;
}

svg {
    fill: inherit;
}

.bg-black-1 {
    background: var(--black-1);
}

.bg-black-2 {
    background: var(--black-2);
}

.border-black-2 {
    border-color: var(--black-2);
}

.text-gray-5 {
    color: var(--gray-4);
}

.text-gray-5 {
    color: var(--gray-5);
}

.bg-accent {
    background: var(--accent);
}

.fill-accent {
    fill: var(--accent);
}

.navlink {
    @apply px-3 py-2 whitespace-nowrap rounded-md border-1 border-transparent;
    color: var(--gray-4);
    transition: .15s ease-in-out;
}

.navlink:hover {
    border-color: var(--black-2);
    color: var(--white);
}

.navlink_active {
    background: var(--black-2);
    color: var(--white);
}

button {
    @apply cursor-pointer;
}

.btn {
    @apply flex gap-3 items-center justify-center rounded-md py-3.5 px-5.5;
    transition: 0.15s ease-in-out;
}

.btn.accent:hover {
    background: var(--white); 
    color: var(--accent);
    fill: var(--accent);
}

.btn.accent {
    background: var(--accent);
    color: var(--white);
    fill: var(--white);
}

.btn.blank {
    background: var(--black-1);
    color: var(--white);
    fill: var(--white);
}

.btn.blank:hover {
    background: var(--white);
    color: var(--black-1);
    fill: var(--black-1);
}

.h1 {
    @apply text-4xl font-bold text-white;
}

.h2 {
    @apply text-3xl font-bold text-white;
}

.h4 {
    @apply text-2xl font-bold text-white;
}

.red-gradient-bg {
    @apply bg-linear-[40deg,#0F0F0F_70%,#2c0b0b];
    background-size: 100%;
    background-position: top right;
    transition: .05s ease-in-out, background-size 1s;
}

.red-gradient-bg:hover {
    background-size: 200%;
}

.red-mask {
    background: linear-gradient(90deg,rgba(15,15,15,1) 10%, rgba(15,15,15,.98) 20%, rgba(27,14,14,0.9) 40%, rgba(229,0,0,0.5) 100%);
}

.card {
    @apply rounded-xl border-2;
    background: var(--black-2);
    border-color: var(--black-3); 
}

.faq-row {
    position: relative;
    border: none!important;
}

.faq-row:not(:last-child):after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--accent) 20%, rgba(255,255,255,0) 100%);
    background-size: 100%;
    transition: background 0.5s ease-in-out;
}

.faq-row:hover::after {
    background-color: var(--accent);
}

.row-title {
    padding: 1.5rem 0rem!important;
}

.row-title-text::before {
    background-color: red;
    display: block;
}

.icon-wrapper {
    top: 25px!important;
}

.row-title {
    position: relative;
}

.row-title .row-title-text {
    padding-left: 5rem;
}

.row-title::before {
    content: var(--question-index);

    @apply absolute left-0 w-12 h-12 flex justify-center items-center rounded-lg text-white;  

    top: 50%;
    translate: 0 -50%;

    background: var(--black-3);

}